<%- include('header'); %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> 
<link rel="stylesheet" href="main.css" />
<body>

    <h1> <%- num %></h1>
    <h2> <%- ad %></h2>
    <h2> <%- email %></h2>
    
 


    
    


</body>

<!-- link to map in this file -->



<%- include('footer'); %>

















