<%- include('header'); %>
<title>CRAWLSPACE</title>
<body>
    <!-- the below are links to the routes page to display the corsponding information for phone number, physical address and email address -->
    <h2> <%- num %></h2>
    <h2> <%- ad %></h2>
    <h2> <%- email %></h2>

</body>

<%- include('footer'); %>
 <!-- embryonic stages of a contact page for customers -->














