<%- include('header'); %>
<title>CRAWLSPACE</title>
<body>
    <!-- the below are links to the routes page to display the corresponding information for phone number, physical address and email address -->
    <div class = "profileInfo">
        <div class="textStyles usernameProfile"> <%- num %> </div>
        <div class="textStyles emailProfile"><%- ad %></div>
        <div class="textStyles dobProfile"><%- email %></div>
    </div>

</body>

<%- include('footer'); %>
 <!-- embryonic stages of a contact page for customers -->



