<%- include('header'); %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> 
<link rel="stylesheet" href="main.css" />

<body>
    <div class="float-container">

        <div class="float-child profilePhoto">
            <img id="friend-3"
            src="images/GreyedOut.jpeg"
            alt="Friend profile"
            width="90"
            height="90"/>
        </div>
        
        <div class="float-child">
            <button class="editProfile fa fa-pencil" alt="clickable button to edit profile informatiion"></button> 
          </div>
        </div>
        
      </div><br>

<div class = "profileInfo">
    <div class="textStyles textStylesCapital welcomeMessage">Welcome to your local, <%= user.username%>!</div>
    <div class="textStyles usernameProfile">Username:</div>
    <div class="textStyles usernameProfile usernameProfileInput"><%= user.username %></div>
    <div class="textStyles emailProfile">Email:</div>
    <div class="textStyles emailProfile emailProfileInput"><%= user.email %></div>
    <div class="textStyles dobProfile">Date of birth: </div>
    <div class="textStyles dobProfile dobProfileInput"><%= user.dob %></div>
</div>

<div class = "textStyles deleteAccount">
    Remove account
</div>

</body>


<%- include('footer'); %>

















