<%- include('header'); %>


<body>
    <h1><%= title %></h1>
    <h2><%= myHeading%></h2>

<div>
    <h3> New username</h3>
    <input type="text" id="user" placeholder ="Username"> 
</div>



<div>
    <h3>Email</h3>
    <input type="text" id="user" placeholder ="Email"> 
</div>



<div>
    <h3>Password</h3>
    <input type="password" id="password" placeholder="Password">
</div>




<div>
    <h3>Confirm Password</h3>
    <input type="password" id="password" placeholder="Confirm password">
</div>
<p><%= msg2%></p>
</body>

<%- include('footer'); %>