<!-- <%- include('header'); %> -->


<body>
    <h1><%= title %></h1>
    <h2><%= myHeading%></h2>

    <form class="registerForm" action=/signUp method="post">
        <label for="Username">Username:<br>
        <input type="text" name="username" required><br> </label> 
        <label for="Email"> Email Address:<br>
        <input type="email" name="email" required><br> </label>
        <label for="Date of Birth"> Date of Birth:<br>
        <input type="date" name="dob" required><br> </label>
        <label for="Password">Password<br>
        <input type="password" name="password" inputmode="numeric" minlength="4" maxlength="6" id='password'required><br> </label>
        <label for="Confirm pin">Confirm Password:<br>
        <input type="password" name="confirmPassword" inputmode="numeric" minlength="4" maxlength="6" id='confirmPassword'required><br> </label> 
        <label for="submit"><input type="submit" value="Submit"></label>
    </form>

<p><%= msg2%></p>
</body>

<%- include('footer'); %>